name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      # Build and push self-hosted runner image  
    - name: Build and push the self hosted runner image to dockerhub
      uses: docker/build-push-action@v5
      with:
       context: .
       file: ./Dockerfile
       push: true
       tags: wendynkosi/todo-api:runner
