name: Docker Image CI

on:
  push:
   branches: [main]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run hello
      run: echo "Hello Sydeny"
    
