name: Docker Image CI

on:
  push:
   branches: [main]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to dockerhub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_TOKEN }}
       
      # Build and push self-hosted runner image  
    - name: Build and push the self hosted runner image to dockerhub
      uses: docker/build-push-action@v5
      with:
       context: .
       file: ./Dockerfile
       push: true
       tags: wendynkosi/todo-api:runner
